* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    user-select: none;
    font-size: 14px;
    background: #E9E9E9;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

label {
    margin-left: 20px;
}

label,
select,
.mDrag_font,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

select,
.mDrag_font,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 22px;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 22px;
    color: #555555;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #D1D1D1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 120px;
    padding-left: 4px;
    padding-right: 4px;
}

@font-face {
    font-family: 'icon-pc';
    src: url('../fonts//icon-pc.eot?59lb71');
    src: url('../fonts//icon-pc.eot?#iefix59lb71') format('embedded-opentype'), url('../fonts//icon-pc.woff?59lb71') format('woff'), url('../fonts//icon-pc.ttf?59lb71') format('truetype'), url('../fonts//icon-pc.svg?59lb71#icon-pc') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sui-icon';
    src: url('../fonts//icon-moon.eot?mvdj6z');
    src: url('../fonts//icon-moon.eot?#iefixmvdj6z') format('embedded-opentype'), url('../fonts//icon-moon.woff?mvdj6z') format('woff'), url('../fonts//icon-moon.ttf?mvdj6z') format('truetype'), url('../fonts//icon-moon.svg?mvdj6z#icon-moon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#bigHexColorText {
    width: fit-content;
}

.sui-icon.icon-double-angle-down:before {
    content: "\e6e7";
}

.mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.mCSB_scrollTools {
    visibility: hidden;
}